[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	ignore = dirty
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = dirty
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
	ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "bundle/vim-cmake"]
	path = bundle/vim-cmake
	url = git://github.com/vhdirk/vim-cmake.git
	ignore = dirty

[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
    ignore = dirty

[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty

[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
