[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	ignore = dirty
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = dirty
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
	ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "bundle/vim-cmake"]
	path = bundle/vim-cmake
	url = git://github.com/vhdirk/vim-cmake.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://tpope.io/vim/surround.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-clang"]
	path = bundle/vim-clang
	url = https://github.com/justmao945/vim-clang.git
[submodule "bundle/vim-buftabline"]
	path = bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "bundle/vim-cpp-modern"]
	path = bundle/vim-cpp-modern
	url = git@github.com:bfrg/vim-cpp-modern.git
    ignore = dirty
